:root {
    --postItColorYellow: #FBF8CC;
    --postItColorRed: #FFCFD2;
    --postItColorOrange: #FDE4CF;
    --postItColorPink: #F1C0E8;
    --postItColorPurple: #CFBAF0;
    --postItColorDarkBlue: #A3C4F3;
    --postItColorBlue: #90DBF4;
    --postItColorLightBlue: #8EECF5;
    --postItColorGreen: #98F5E1;
    --postItColorLightGreen: #B9FBC0;
}

.postit {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 17%;
    height: 30%;
    box-shadow: 0px 20px 20px #ccc;
    color: #000;
    transition: 0.2s linear;

    .postit-header {
        display: flex;

        .postit-header_input {
            background: inherit;
            font-size: 1.5vw;
            border: none;
            width: 100%;
        }

        .postit-header_text {
            width: 100%;
            font-size: 1.5vw;
            margin: 0 0 0 0.1em;
        }
    }

    .postit-icon-container {
        margin: 0.2em 0 0 auto;
    }

    .content-container {
        padding: 0.2em 0.8em;
        height: 100%;
        width: 99%;
    }

    .postit-content {
        width: 99%;
        height: 100%;
        padding: 0 0 0 0.4em;

        .postit-content_text {
            width: 100%;
            height: 100%;
            word-wrap: break-word;
        }

        .postit-content_input {
            width: 98%;
            height: 100%;
            background: inherit;
            border: none;
    
            &&:active {
                border: none;
            }
        }
    }

    

    .savebutton-container {
        margin: auto auto 0 auto;
        width: 100%;

        .savebutton {
            width: 100%;
            border: none;
            background: rgba(255, 255, 255, 0.5);
            border: 1px solid #ddd;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            transition: 0.2s linear;

            .savebutton-text {
                text-transform: uppercase;
                font-weight: bold;
            }
        }

        .savebutton:hover {
            background: #fff;
            border: 1px solid inherit;
        }
    }
}

.yellow {
    background: var(--postItColorYellow);
}

.red {
    background: var(--postItColorRed);
}

.orange {
    background: var(--postItColorOrange);
}

.pink {
    background: var(--postItColorPink);
}

.purple {
    background: var(--postItColorPurple)
}

.darkBlue {
    background: var(--postItColorDarkBlue);
}

.blue {
    background: var(--postItColorBlue);
}

.lightBlue {
    background: var(--postItColorLightBlue)
}

.green {
    background: var(--postItColorGreen);
}

.lightGreen {
    background: var(--postItColorLightGreen);
}